@charset "UTF-8";
/*-----------------------------------------------
Modification des classes d'origines utilisées sur les 2 pages
-----------------------------------------------*/
.black-background {
  background-color: #3F2101;
  opacity: 0.7;
  padding: 40px 40px 40px 40px;
}

.tc-white {
  color: #EA7248;
}

.btn-atomic-tangerine {
  background-color: #EA7248;
  color: #ffffff;
  font-size: 19px;
}

.btn-atomic-tangerine:focus {
  outline: 2px solid #ffffff;
}

.bloc-button:focus {
  outline: 3px solid #333333;
}

.bgc-atomic-tangerine {
  background-color: #EA7248;
}

.webp .bg-presentation {
  background-image: url("../img/image-de-presentation.webp");
}

.no-webp .bg-presentation {
  background-image: url("../img/image-de-presentation.jpg");
}

.webp .texture-paper::before {
  background: url("../img/texture-paper.webp");
  background-size: 280px 280px;
}

.no-webp .texture-paper::before {
  background: url("../img/texture-paper.png");
  background-size: 280px 280px;
}

.reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

/*-----------------------------------------------
Règles générales
-----------------------------------------------*/
p {
  font-size: 12px;
}

hr {
  margin: 55px 35%;
}

li a {
  text-decoration: underline;
  line-height: 32px;
}

/*-----------------------------------------------
Nav
-----------------------------------------------*/
.navbar a:focus {
  outline: 3px solid #EA7248;
  font-size: 19px;
  font-weight: bold;
}

/*-----------------------------------------------
Footer
-----------------------------------------------*/
.seo-footer-title__h2, .seo-footer-title__h3 {
  font-size: 19px;
  font-weight: 700;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
  color: #ffffff;
}

.seo-footer-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 450px) {
  .seo-footer-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-right: 10px;
  }
}

.seo-footer-title__h2--respons::after {
  content: "-";
}

@media all and (max-width: 450px) {
  .seo-footer-title__h2::after {
    content: "";
  }
}

.icon-md {
  font-size: 30px !important;
  margin-bottom: 10px;
}

.social {
  max-width: 400px;
  margin: 10px auto auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social a {
  text-decoration: none;
}

.social:focus {
  outline: none;
  border-bottom: 4px solid #4D2121;
}

/*-----------------------------------------------
Page de contact
-----------------------------------------------*/
.address {
  font-size: 19px;
  font-weight: 700;
  margin-top: 20px;
}

.seo-big-orange {
  font-size: 24px;
  line-height: 1.4em;
  opacity: 0.8;
}
/*# sourceMappingURL=contact.css.map */