@charset "UTF-8";
/*-----------------------------------------------
Utilisation des classes d'origines
-----------------------------------------------*/
.icon-md {
  font-size: 30px !important;
  margin-bottom: 10px;
}

.black-background {
  background-color: #3F2101;
  opacity: 0.7;
  padding: 40px 40px 40px 40px;
}

.tc-white {
  color: #EA7248;
}

.btn-atomic-tangerine {
  background-color: #EA7248;
  color: #ffffff;
  font-size: 19px;
}

.btn-atomic-tangerine:focus {
  outline: 2px solid #ffffff;
}

.bloc-button:focus {
  outline: 3px solid #333333;
}

.bgc-atomic-tangerine {
  background-color: #EA7248;
}

.webp .bg-presentation {
  background-image: url("../img/image-de-presentation.webp");
}

.no-webp .bg-presentation {
  background-image: url("../img/image-de-presentation.jpg");
}

.webp .bg-banniere {
  background-image: url("../img/la-chouette-agence-banniere.webp");
}

.no-webp .bg-banniere {
  background-image: url("../img/la-chouette-agence-banniere.jpg");
}

.webp .bg-lines-h2-bg {
  background-image: url("../img/line-h2-bg.webp");
}

.no-webp .bg-lines-h2-bg {
  background-image: url("../img/line-h2-bg.png");
}

.webp .texture-paper::before {
  background: url("../img/texture-paper.webp");
  background-size: 280px 280px;
}

.no-webp .texture-paper::before {
  background: url("../img/texture-paper.png");
  background-size: 280px 280px;
}

.social {
  max-width: 400px;
  margin: 10px auto auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social a {
  text-decoration: none;
}

.social:focus {
  outline: none;
  border-bottom: 4px solid #4D2121;
}

.portfolio-row a:focus {
  outline: 4px solid #333333;
}

.navbar a:focus {
  outline: 3px solid #EA7248;
  font-size: 19px;
  font-weight: bold;
}

/*-----------------------------------------------
Règles générales
-----------------------------------------------*/
p {
  font-size: 12px;
}

li a {
  text-decoration: underline;
  line-height: 32px;
}

/*-----------------------------------------------
Typographie
-----------------------------------------------*/
hr {
  margin: 55px 35%;
}

.seo-h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #575757;
  margin-top: 40px;
  margin-bottom: 40px;
}

.seo-h3 {
  font-size: 15px;
  font-weight: 700;
  color: #333333;
}

.seo-big-orange {
  font-size: 24px;
  line-height: 1.4em;
  opacity: 0.8;
}

#seo-hover {
  color: #ffffff;
  padding: 5px;
}

#seo-hover:hover {
  color: #cccccc;
}

#seo-hover:focus {
  outline: none;
  border: 3px solid #EA7248;
}

/*-----------------------------------------------
Footer
-----------------------------------------------*/
.seo-footer-title__h1, .seo-footer-title__h2, .seo-footer-title__h3 {
  font-size: 19px;
  font-weight: 700;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
  color: #ffffff;
}

.seo-footer-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 450px) {
  .seo-footer-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-right: 10px;
  }
}

.seo-footer-title__h1--respons::after {
  content: "-";
}

@media all and (max-width: 450px) {
  .seo-footer-title__h1::after {
    content: "";
  }
}

.seo-footer-title__h2--respons::after {
  content: "-";
}

@media all and (max-width: 450px) {
  .seo-footer-title__h2::after {
    content: "";
  }
}

/*-----------------------------------------------
Page d'accueil
-----------------------------------------------*/
.seo-text {
  margin: 20px auto;
  width: 60%;
  text-align: center;
  font-size: 1.6em;
}

@media all and (max-width: 700px) {
  .seo-text {
    width: 85%;
  }
}

.seo-quote {
  margin: 50px auto 10px auto;
  width: 57%;
  border: none;
  text-align: center;
}

@media all and (max-width: 700px) {
  .seo-quote {
    width: 85%;
  }
}

.seo-quote p {
  font-style: oblique;
  font-weight: 500;
  font-size: 1.1em;
}

.seo-quote cite {
  color: #333333;
}

.seo-contact {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 767px) {
  .seo-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.seo-contact h4 {
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 20px;
}

.seo-contact a {
  color: #4D2121;
}

.seo-contact a:focus {
  border-bottom: 4px solid #4D2121;
  text-decoration: none;
}

.seo-contact__annuaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 80px;
}

@media all and (max-width: 860px) {
  .seo-contact__annuaire {
    margin-left: 30px;
  }
}

@media all and (max-width: 767px) {
  .seo-contact__annuaire {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 0px;
  }
}

.seo-contact__partenaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 767px) {
  .seo-contact__partenaire {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 0px;
  }
}

.seo-annuaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 767px) {
  .seo-annuaire {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.seo-annuaire ul {
  margin-left: 80px;
}

@media all and (max-width: 860px) {
  .seo-annuaire ul {
    margin-left: 30px;
  }
}

@media all and (max-width: 767px) {
  .seo-annuaire ul {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 0px;
  }
}

.reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
/*# sourceMappingURL=index.css.map */