/*-----------------------------------------------
Footer
-----------------------------------------------*/

/// Mise en page et typographie des titres h1, h2 et h3 présents dans les 
/// footers.
%footer-title {
    // De 11px init à 19 px pour contraste 3:1 
    font-size: 19px;
    // De 500 init à 700 pour contraste 3:1 
    font-weight: 700;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
    color: $white-color;
}

// Mise en page des titres h1, h2 et h3 
.seo-footer-title {
    display: flex;
    justify-content: center;

    @include xs {
        flex-direction: column;
        text-align: center;
        margin-right: 10px;
    }

    &__h1 {
        @extend %footer-title;

        // Tiret entre h1 et h2 dans la page de contact
        &--respons::after {
            content: "-";
        }

        // Suppression du tiret quand les titres h1 et h2 se superposent entre
        // 0 et 450px.
        &::after {
            @include xs {
                content: "";
            }
        }
    }

    &__h2 {
        @extend %footer-title;

        // Tiret entre h2 et h3 dans la page index.html
        &--respons::after {
            content: "-";
        }

        // Suppression du tiret quand les titres h2 et h3 se superposent entre 
        // 0 et 450px.
        &::after {
            @include xs {
                content: "";
            }
        }
    }

    &__h3 {
        @extend %footer-title;
    }

}