/*-----------------------------------------------
Footer
-----------------------------------------------*/

// Mise en page des titres h1, h2 et h3 
.seo-footer-title {
    display: flex;
    justify-content: center;

    @include xs {
        flex-direction: column;
        text-align: center;
        margin-right: 10px;
    }

    &__h2 {
        @extend %footer-title;

        // Tiret entre h2 et h3 dans la page index.html
        &--respons::after {
            content: "-";
        }

        // Suppression du tiret quand les titres h2 et h3 se superposent entre 
        // 0 et 450px.
        &::after {
            @include xs {
                content: "";
            }
        }
    }

    &__h3 {
        @extend %footer-title;
    }

}

// Conservation de la taille des icônes sociaux
.icon-md {
    font-size: 30px !important;
    margin-bottom: 10px;
}

// Modif du display pour que les icones du footer reste à l'horizontal 
.social {
    max-width: 400px;
    margin: 10px auto auto auto;
    display: flex;
    justify-content: space-around;

    a {
        text-decoration: none;
    }

    &:focus {
        @extend %focus-footer-link;
    }
}