p {
    font-size: 12px;
}

/* Respect de l'article 1.4.1 de la WCAG W3C */
li a {
    text-decoration: underline;
}

.icon-md {
    font-size: 30px !important;
    margin-bottom: 10px;
}

/* Modifié pour contraste */
.black-background {
    background-color: #3F2101;
    opacity: 0.7;
    padding: 40px 40px 40px 40px;
}

.tc-white {
    color: #EA7248;
    /* Anciennement #F3976C pour contraste */
}

.btn-atomic-tangerine {
    background: #EA7248;
    /* Anciennement #F3976C pour contraste */
    color: #FFFFFF;
    font-size: 19px;
}

/* Classe nouvelle couleur orange pour contraste 3:1 */
.bgc-atomic-tangerine {
    background-color: #EA7248;
}

/* ### seo-back-orange */

/* Anciennement image .BMP */
.bg-presentation {
    background-image: url("img/image-de-presentation.jpg");
}

/* Modif du display pour que les icones du footer reste à l'horizontal */
.social {
    max-width: 400px;
    margin: 10px auto auto auto;
    display: flex;
    justify-content: space-around;
}

/*-----------------------------------------------
#SEO
-----------------------------------------------*/
/* Paragraphe remplaçant les images title.png et title2.png */
.seo-text {
    margin: 20px auto;
    width: 60%;
    text-align: center;
    font-size: 1.6em;
}

/* Bloc de citation remplaçant citation.png */
.seo-quote {
    margin: 70px auto 10px auto;
    width: 57%;
    border: none;
    text-align: center;
}

.seo-quote p {
    font-style: oblique;
    font-weight: 500;
    font-size: 1.1em;
}

@media (max-width: 700px) {

    .seo-text,
    .seo-quote {
        width: 85%;
    }
}

/* modification pour un contraste à 4.5:1 */
.seo-quote cite {
    color: #797676;
    /* iso #777777 */
}

/* Redéfinition des styes pour les titres h2 et h3 */
.seo-h2,
.seo-h3 {
    font-size: 15px;
    font-weight: 700;
    color: #333333;
}

/* Conservation du style des titres h2 passé en <p> */
.seo-big-orange {
    font-size: 24px;
    /* de 22px à 24px pour contraste de 4.5:1 */
    line-height: 1.4em;
    opacity: 0.8;
}

/* ... et conservation du style du lien sous le <p> */
#seo-hover {
    color: #FFFFFF;
}

#seo-hover:hover {
    color: #cccccc;
}

/* Style des titres h2 et h3 créés dans le footer */
.seo-footer-title {
    display: flex;
    justify-content: center;
}

@media (max-width: 450px) {
    .seo-footer-title {
        flex-direction: column;
        text-align: center;
        margin-right: 10px;
    }
}

.seo-footer-title h1,
.seo-footer-title h2,
.seo-footer-title h3 {
    font-size: 19px;
    /* De 11px init à 19 px pour contraste 3:1 */
    font-weight: 700;
    /* De 500 init à 700 pour contraste 3:1 */
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
    color: #ffffff;
}

.seo-footer-title__h2::after,
.seo-footer-title__h1::after {
    content: "-";
}

@media (max-width: 450px) {

    .seo-footer-title__h2::after,
    .seo-footer-title__h1::after {
        content: "";
    }
}

/* Mise en page des listes des partenaires et annuaires */
.seo-contact {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.seo-contact h4 {
    color: #FFFFFF;
    font-size: 19px;
    /* De 15px init à 19 px pour contraste 3:1 */
    font-weight: 700;
    /* 700 pour contraste 3:1 */
    margin-bottom: 20px;
}

/* Liens du Footer - Contraste à 5:1 */
.seo-contact a {
    color: #4D2121;
}

.seo-contact li {
    margin-bottom: 8px;
}

.seo-annuaire {
    display: flex;
}

.seo-annuaire ul {
    margin-left: 80px;
}

.seo-contact__annuaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
}

.seo-contact__partenaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 860px) {

    .seo-annuaire ul,
    .seo-contact__annuaire {
        margin-left: 30px;
    }
}

@media (max-width: 767px) {

    .seo-contact,
    .seo-annuaire {
        flex-direction: column;
    }

    .seo-contact__partenaire,
    .seo-contact__annuaire,
    .seo-annuaire ul {
        align-items: flex-start;
        margin-left: 0px;
    }
}

/* Focus des liens sur fond blanc */
.seo-focus-type1:focus {
    outline: 3px solid #EA7248;
    font-size: 19px;
    font-weight: bold;
}

/* Focus sur les boutons */
.seo-focus-type2:focus {
    outline: 3px solid #ffffff;
}

/* Focus sur les vignettes */
.seo-focus-type3:focus {
    outline: 4px solid #333333;
}

/* Contraste pour adresse dans footer contact */
.address {
    font-size: 19px;
    font-weight: 700;
    margin-top: 20px;
}
