



/*-----------------------------------------------
#SEO
-----------------------------------------------*/







/* Mise en page des listes des partenaires et annuaires */
.seo-contact {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.seo-contact h4 {
    color: #FFFFFF;
    font-size: 19px;
    /* De 15px init à 19 px pour contraste 3:1 */
    font-weight: 700;
    /* 700 pour contraste 3:1 */
    margin-bottom: 20px;
}

/* Liens du Footer - Contraste à 5:1 */
.seo-contact a {
    color: #4D2121;
}

.seo-annuaire {
    display: flex;
}

.seo-annuaire ul {
    margin-left: 80px;
}

.seo-contact__annuaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
}

.seo-contact__partenaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 860px) {

    .seo-annuaire ul,
    .seo-contact__annuaire {
        margin-left: 30px;
    }
}

@media (max-width: 767px) {

    .seo-contact,
    .seo-annuaire {
        flex-direction: column;
    }

    .seo-contact__partenaire,
    .seo-contact__annuaire,
    .seo-annuaire ul {
        align-items: flex-start;
        margin-left: 0px;
    }
}

/* Focus des liens sur fond blanc */
.seo-focus-type1:focus {
    outline: 3px solid #EA7248;
    font-size: 19px;
    font-weight: bold;
}

/* Focus sur les boutons */
.seo-focus-type2:focus {
    outline: 3px solid #ffffff;
}

/* Focus sur les vignettes */
.seo-focus-type3:focus {
    outline: 4px solid #333333;
}

/* Contraste pour adresse dans footer contact */
.address {
    font-size: 19px;
    font-weight: 700;
    margin-top: 20px;
}