/*-----------------------------------------------
Typographie
-----------------------------------------------*/

hr {
    margin: 55px 35%;
}

// Redéfinition des styes pour les titres h3 
.seo-h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: $grey-color;
    margin-top: 40px;
    margin-bottom: 40px;
}

// Redéfinition des styes pour les titres h3 
.seo-h3 {
    font-size: 15px;
    font-weight: 700;
    color: $dark-color;
}

// Conservation du style des titres h2 passé en <p> 
.seo-big-orange {
    // iso 22px pour contraste de 4.5:1 
    font-size: 24px;
    line-height: 1.4em;
    opacity: 0.8;
}

// Conservation du style du lien 'contactez notre équipe' sous le <p>
#seo-hover {
    color: $white-color;
    padding: 5px;

    &:hover {
        color: #cccccc;
    }

    &:focus {
        outline: none;
        border: 3px solid $theme-color;
    }
}