/*-----------------------------------------------
Typographie
-----------------------------------------------*/

// Redéfinition des styes pour les titres h2 et h3 
.seo-h2,
.seo-h3 {
    font-size: 15px;
    font-weight: 700;
    color: $dark-color;
}

// Conservation du style des titres h2 passé en <p> 
.seo-big-orange {
    // iso 22px pour contraste de 4.5:1 
    font-size: 24px;
    line-height: 1.4em;
    opacity: 0.8;
}

// Conservation du style du lien 'contactez notre équipe' sous le <p>
#seo-hover {
    color: $white-color;

    &:hover {
        color: #cccccc;
    }
}

// Focus des liens sur fond blanc
.seo-focus-type1:focus {
    outline: 3px solid $theme-color;
    font-size: 19px;
    font-weight: bold;
}

// Focus sur les boutons
.seo-focus-type2:focus {
    outline: 3px solid $white-color;
}

// Focus sur les vignettes
.seo-focus-type3:focus {
    outline: 4px solid $dark-color;
}