/*-----------------------------------------------
Page de contact
-----------------------------------------------*/

// Contraste du bloc adresse dans le footer
.address {
    font-size: 19px;
    font-weight: 700;
    margin-top: 20px;

    a {
        color: $link-color;
        text-decoration: underline;

        &:focus {
            border-bottom: 4px solid $link-color;
            outline: none;
            text-decoration: none;
        }
    }
}

/// Placeholder du focus formulaire
%focus-form {
    font-weight: 500;

    &:focus {
        background-color: #BBDEFB;
        outline: 2px solid $theme-color;
    }
}

// Formulaire
form {
    width: 500px;
    margin: 30px auto;
    padding: 10px;

    @include sm {
        width: 90%;
    }

    p {
        text-align: right;
    }

    .red {
        color: red;
        font-size: 19px;
        font-weight: 700;
    }

    .champ {
        margin-top: 20px;
    }

    input {
        display: block;
        @extend %focus-form
    }

    #name,
    #email {
        width: 250px;
    }

    #message {
        width: 100%;
        height: 150px;
        @extend %focus-form
    }
}