/*-----------------------------------------------
Page de contact
-----------------------------------------------*/

// Contraste du bloc adresse dans le footer
.address {
    font-size: 19px;
    font-weight: 700;
    margin-top: 20px;
}

// Titre h1
.seo-big-orange {
    // iso 22px pour contraste de 4.5:1 
    font-size: 24px;
    line-height: 1.4em;
    opacity: 0.8;
}