/*-----------------------------------------------
Page de contact
-----------------------------------------------*/

// Contraste du bloc adresse dans le footer
.address {
    font-size: 19px;
    font-weight: 700;
    margin-top: 20px;
}
