/*-----------------------------------------------
Page d'accueil
-----------------------------------------------*/

// Paragraphe remplaçant les images title.png et title2.png 
.seo-text {
    margin: 20px auto;
    width: 60%;
    text-align: center;
    font-size: 1.6em;

    @include sm {
        width: 85%;
    }
}

// Bloc de citation remplaçant citation.png 
.seo-quote {
    margin: 50px auto 10px auto;
    width: 57%;
    border: none;
    text-align: center;

    @include sm {
        width: 85%;
    }

    // Paragraphe de la recommandation
    p {
        font-style: oblique;
        font-weight: 500;
        font-size: 1.1em;
    }

    // Mofification couleur signature pour un contraste à 4.5:1
    cite {
        // iso #777777
        color: $dark-color;
    }
}

// Bloc contenant les 2 titres h4 et les listes de contacts dans le footer
.seo-contact {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    @include md {
        flex-direction: column;
    }

    h4 {
        color: $white-color;
        // iso 15px pour contraste 3:1
        font-size: 19px;
        // mis en gras pour contraste 3:1
        font-weight: 700;
        margin-bottom: 20px;
    }

    a {
        // Liens du Footer Contraste à 4.5:1
        color: $link-color;

        // Focus des liens du footer
        &:focus {
            border-bottom: 4px solid $link-color;
            outline: none;
            text-decoration: none;
        }

    }

    // Bloc contenant titre h4 et liste 'Annuaires Webdesing, SEO et marketing'
    &__annuaire {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 80px;

        @include lg {
            margin-left: 30px;
        }

        @include md {
            align-items: flex-start;
            margin-left: 0px;
        }
    }

    // Bloc contenant titre h4 et liste 'Nos partenaires'
    &__partenaire {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include md {
            align-items: flex-start;
            margin-left: 0px;
        }
    }
}

// Bloc de la double liste 'Annuaires Webdesing, SEO et marketing' du footer
.seo-annuaire {
    display: flex;

    @include md {
        flex-direction: column;
    }

    ul {
        margin-left: 80px;

        @include lg {
            margin-left: 30px;
        }

        @include md {
            align-items: flex-start;
            margin-left: 0px;
        }
    }
}

// Redéfinition des styes pour les titres h2 
.seo-h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: $grey-color;
    margin-top: 40px;
    margin-bottom: 40px;
}

// Redéfinition des styes pour les titres h3 
.seo-h3 {
    font-size: 15px;
    font-weight: 700;
    color: $dark-color;
}

// Conservation du style du lien 'contactez notre équipe' sous le <p> + focus
#seo-hover {
    color: $white-color;
    padding: 5px;

    &:hover {
        color: #cccccc;
    }

    &:focus {
        outline: none;
        border: 3px solid $theme-color;
    }
}

// Conservation du style des titres h2 passé en <p> 
.seo-big-orange {
    // iso 22px pour contraste de 4.5:1 
    font-size: 24px;
    line-height: 1.4em;
    opacity: 0.8;
}

// Focus des images de liens vers le portfolio
.portfolio-row a:focus {
    outline: 4px solid $dark-color;
}

.webp .bg-banniere {
    background-image: url("../img/la-chouette-agence-banniere.webp");
}

.no-webp .bg-banniere {
    background-image: url("../img/la-chouette-agence-banniere.jpg");
}

.webp .bg-line-h2-bg {
    background-image: url("../img/line-h2-bg.webp");
}

.no-webp .bg-line-h2-bg {
    background-image: url("../img/line-h2-bg.png");
}