/*-----------------------------------------------
Placeholders
-----------------------------------------------*/

/// Mise en page et typographie des titres h1, h2 et h3 présents dans les 
/// footers.
%footer-title {
    // De 11px init à 19 px pour contraste 3:1 
    font-size: 19px;
    // De 500 init à 700 pour contraste 3:1 
    font-weight: 700;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
    color: $white-color;
}

/// Focus formulaire
%focus-form {
    font-weight: 500;

    &:focus {
        background-color: $focus-form-color;
        outline: 2px solid $theme-color;
    }
}

/// Focus des liens et du mail du footer
%focus-footer-link {
    border-bottom: 4px solid $link-color;
    outline: none;
    text-decoration: none;
}